<form class="row" [formGroup]="service.employeeForm" (submit)="onSubmit()" [class.submitted]="submitted">
    <div class="col-12 mb-3">
        <label for="" class="form-label">Full name</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter fullname" formControlName="fullName">
    </div>
    <div class="col-12 mb-3">
        <label for="" class="form-label">Location</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter city, country" formControlName="location">
    </div>
    <div class="col-6 mb-3">
        <label for="" class="form-label">Position</label>
        <input type="text" class="form-control form-control-lg" placeholder="Enter designation" formControlName="position">
    </div>
    <div class="col-6 mb-3">
        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control form-control-lg" placeholder="Enter salary" formControlName="salary">
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
</form>